body {
    background-image: url("img2.PNG");
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI';
}
#tafrit div{
    margin-left:20px;
    margin-top:10px;
}
.btn {
    background-color: lightgrey;
    border-radius: 6px;
    text-align: center;
    transition-duration: 0.4s;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 5px;
    height: 30px;
}

    .btn:hover {
        background-color: darkgrey;
        color: white;
    }
div.solid {
    border-style: solid;
    height: 300px;
    width:450px;
    margin: 350px;
    position:absolute;
    top:-300px;
    /*float:left;*/
}

.semel img {
    position:static;
    height: 70px;
    width: 200px;
    border-radius: 8px;
    opacity: 0.5;
    margin-right: 1000px;
    margin-top: 100px;
}
#piechart_3d {

    height: 400px;
    float: left;
    opacity: 0.6;
    width: 400px;
}
.gropbtn {
    width: 60px;
    font-size:10px;
}
.empty {
    background-color: red;
}
.full {
    background-color: aquamarine;
}
.semelLogin img {
    height: 70px;
    width: 200px;
    border-radius: 8px;
    opacity: 0.5;
    margin-right: 1000px;
    margin-top: 80px;
}

select {
    border: 1px solid black;
    border-radius: 4px;
}

#menuPage a {
    direction: rtl;
    color: #5e5e5e;
    text-align: center;
    padding: 11px 11px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    border: 1px solid #5e5e5e;
    left: 0px;
    right: 0px;
    margin-left: 625px;
    margin-left: 15px;
    color: #5e5e5e;
    text-align: center;
    padding: 11px 11px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    margin-left: 15px;
    border: 1px solid #5e5e5e;
}

a {
    direction: rtl;
    color: #5e5e5e;
    text-align: center;
    padding: 11px 11px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    border: 1px solid #5e5e5e;
    left: 0px;
    right: 0px;
    margin-left: 625px;
    margin-left: 15px;
    margin-left: 15px;

}

    a:hover {
        background: #ddd;
        border: 1px solid #5e5e5e;
        border-radius: 4px;
        color: #5e5e5e
    }


 #canvas {
    width: 350px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    float: left;
}
/*/*/
/* Links inside the navbar */
.navbar a {
    /*display: block;*/
    /*color: #f2f2f2;*/
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border: 1px solid #808080;
    border-radius: 4px;
    margin-left: 0.5px;
    margin-right: 0.5px;
}
/*עיצוב טבלאת מנהל*/
#container {
    width: 60%;
    padding-top: 20px;
}
.n a {
    float: left;
    margin-bottom: 20px;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    border: 1px solid black;
    border-radius: 4px;
}

-->
<!-- /* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}



.colorDiv {
    height: 30px;
    width: 70px;
    border: 2px solid black
}

#newBTN {
    background-color:#ddd;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

/* style login*/
input {
    text-align: center;
    height: 25px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid black;
}
input{
    text-align: center;
    height: 25px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid black;
}

#jobnum {
    font-family: 'Segoe UI';
    text-align: center;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 15px;
    text-align: right;

}

option {
    text-align: right;
}
/* Style the submit button */
input[type=submit] {
    text-align: center;
    background-color: #ddd;
    color: black;
    /*opacity: 0.4;*/
    transition-duration: 0.4s;
    width: 100px;
    font-family: 'Segoe UI';
    border: 1px solid black;
}
#Certificate2 a {
    text-align: center;
    background-color: #ddd;
    color: black;
    opacity: 0.7;
    width: 100px;
    font-family: 'Segoe UI';
    font-size: 13px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

#cancelSaveBTN {
    text-align: center;
    background-color: red;
    color: white;
    opacity: 0.7;
    height: 48px;
    margin-bottom: 15px;
    font-family: 'Segoe UI';
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    vertical-align: middle;
}
/*}


/* Style the container for inputs 
    .container {
    text-align: center;
    /*background-color: #f1f1f1;*/
/*padding: 20px;*/
/*}*/

/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }


/*///finish style login*/




/*menu style*/

/* The navigation bar */
.menuclass {
    font-family: 'Segoe UI';
    font-size: 20px;
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 20%; /* Full width */
}

    /* Links inside the navbar */
    .menuclass a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
    }

        /* Change background on mouse-over */
        .menuclass a:hover {
            background: #ddd;
            color: black;
        }

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*menu style*/



/*login certificate Receiving style*/


#Ccheck {
    visibility: hidden;
}

#Certificate {
    margin-bottom: 17px;
    padding-bottom: 15px;
    
}



/*login certificate Receiving*/


/*add employee*/

/*input {
    text-align: center;
    width: 25%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}*/


/*input[type=submit] {
    text-align: center;
    background-color: royalblue;
    color: white;
    width: 15%;
}*/

/*.container {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}*/

/* The message box is shown when the user clicks on the password field */
/*#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }*/

/* Add a green text color and a checkmark when the requirements are right */
/*.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

 Add a red text color and an "x" when the requirements are wrong 
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }

body {
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI';
}*/

/*add employee*/
